@model dynamic

<script type="text/javascript" src="~/Scripts/App/app.js"></script>

  

<table>
    <tr>
        <td>
            <span></span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">
            <textarea name="chatMessage" cols="100" rows="30" id="chatHistory">
</textarea>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" placeholder="Your message here" style="width: 100%" id="chatMessage" />
        </td>
        <td>
            <input type="submit" value="Post your mnesage" onclick="chat.postMessage($('#chatMessage').val())"/>
        </td>
    </tr>
</table>